@using NewBlog.WebUI.Models
@model WidgetViewModel

<li class="nav-header raLI text-center"><h2>Categories</h2></li>

@if (Model.NotNullOfCategories)
{
    foreach (var category in Model.Categories)
    {
        <li class="raLI">@Html.CategoryLink(category)</li>
    }
}
else
{
    <p>No categories found!</p>
}
