@using NewBlog.Domain.Entities
@model IList<Post>
<li class="nav-header">Latest Posts</li>

        @if (Model.Count > 0)
        {
            foreach (var post in Model)
            {
                <li class="small">@Html.PostLink(post)</li>
            }
        }
        else
        {
            <p>No posts found!</p>
        }

