@using NewBlog.WebUI.Models
@model WidgetViewModel
<li class="nav-header"><h2>Latest Posts</h2></li>

@if (Model.NotNullOfPosts)
{
    foreach (var post in Model.LatestPosts)
    {
        <li style="box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); 
            background-color: rgb(255, 193, 181);">
            @Html.PostLink(post)
        </li>
    }
}
else
{
    <p>No posts found!</p>
}

