
@using (Html.BeginForm(
    "Search",
    "Blog",
    FormMethod.Get,
    new { id = "form-search", @class = "search" }))
{
    <fieldset>
        @Html.TextBox("s", "", new { @class = "search", type = "search" })
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
    </fieldset>
}


