@using NewBlog.Domain.Entities 
@model IList<Tag>

<li class="nav-header">Tags</li>

    @if (Model.Count > 0)
    {
        foreach (var tag in Model)
        {
            <span class="tag label label-default">@Html.TagLink(tag)</span>
        }
    }
    else
    {
        <p>No tags found!</p>
    }

