@using NewBlog.Domain.Entities 
@model IList<Tag>

<li class="nav-header text-center"><h2>Tags</h2></li>

    @if (Model.Count > 0)
    {
        foreach (var tag in Model)
        {
            <li class="tags">@Html.TagLink(tag)</li>
        }
    }
    else
    {
        <p>No tags found!</p>
    }

