@using NewBlog.WebUI.Models
@model WidgetViewModel

<li class="nav-header text-center"><h2>Tags</h2></li>

@if (Model.NotNullOfTags)
{
    foreach (var tag in Model.Tags)
    {
        <li class="tags">@Html.TagLink(tag)</li>
    }
}
else
{
    <p>No tags found!</p>
}

