<div id="iconPlay">
    <ul>
        <li class="actionIcon">
            <a href>
                <span class="fa dicon icon-heart"></span>
                <span class="fa icon icon-heart"></span>
                <h3>love</h3>
            </a>
        </li>
    </ul>
</div>
