body {
    padding-top: 60px;
    padding-bottom: 40px;  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.sidebar-nav-fixed {
	width:20%;
}

@media (min-width: 979px) {

  #midCol.affix-top {
      position:fixed;
  	  width:265px;
  	  
  }
  
  #midCol.affix {
      position:static;
      width:265px;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
  }
}

.tag a{
    color: white;
}

.post-foto > img{
    width : 80%;
    margin-left : 10%;
}

/****************************
HTML
****************************/
.tags html {
  min-height: 100%;
}

/****************************
CLOUD WRAPPER
****************************/
.tags.wrapper {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font: bold 50px 'Open Sans', sans-serif;
  font-weight: bold;
  color: steelblue;
  float: none;
  margin-bottom: 10px;
  text-shadow: #e1e0dc 0px 2px 2px;
}

.tags input {
  float: left;
  width: 65%;
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 5px;
  font: 13px source sans pro;
  outline: none;
}

.tags  input[type="submit"] {
  float: left;
  width: 25%;
  margin-top: 12px;
  margin-left: 10px;
  font: 12px Open Sans;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5) !important;
  text-shadow: white 0px 2px 2px;
  background: #f6f5f0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f5f0), to(#e1e0dc));
  background-image: -webkit-linear-gradient(#f6f5f0 0%, #e1e0dc 100%);
  background-image: -moz-linear-gradient(#f6f5f0 0%, #e1e0dc 100%);
  background-image: -o-linear-gradient(#f6f5f0 0%, #e1e0dc 100%);
  background-image: linear-gradient(#f6f5f0 0%, #e1e0dc 100%);
  border-top: 1px solid #FFF !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
  border: none;
  padding: 6px;
  outline: none;
}

.tags input[type="submit"]:hover {
  cursor: pointer;
  background: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e1e0dc));
  background-image: -webkit-linear-gradient(#fff 0%, #e1e0dc 100%);
  background-image: -moz-linear-gradient(#fff 0%, #e1e0dc 100%);
  background-image: -o-linear-gradient(#fff 0%, #e1e0dc 100%);
  background-image: linear-gradient(#fff 0%, #e1e0dc 100%);
}

.tags.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.tags html[xmlns].clearfix {
  display: block;
}

/****************************
TAGS
****************************/
.tags a {
  background: #4682B4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4682B4), to(steelblue));
  background-image: -webkit-linear-gradient(#4682B4 0%, steelblue 100%);
  background-image: -moz-linear-gradient(#4682B4 0%, steelblue 100%);
  background-image: -o-linear-gradient(#4682B4 0%, steelblue 100%);
  background-image: linear-gradient(#4682B4 0%, steelblue 100%);
  text-decoration: none;
  padding: 3px;
  color: #FFF;
  text-shadow: rgba(42, 97, 150, 0.55) 0px 1px 1px;
  border-top: 1px solid #80A8CA !important;
  font: 11px sans-serif;
  font-weight: bold;
  position: relative;
  padding-left: 18px;
  border-top-left-radius:50px;
  border-top-right-radius:15px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:15px; 
  margin: 0px 3px 3px 0px;
  float: right;
  border: 1px solid #4682B4;
}

.tags a:hover {
  background: #7DA7CA;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7DA7CA), to(#4A88BE));
  background-image: -webkit-linear-gradient(#7DA7CA 0%, #4A88BE 100%);
  background-image: -moz-linear-gradient(#7DA7CA 0%, #4A88BE 100%);
  background-image: -o-linear-gradient(#7DA7CA 0%, #4A88BE 100%);
  background-image: linear-gradient(#7DA7CA 0%, #4A88BE 100%);
}

.tags a:before {
  content: "";
  width: 100%;
  /*height: 10px;*/
  top: 0;
  left: 0;
  z-index: 0;
  position: absolute;
  background: rgba(206, 222, 236, 0.17);
}

.tags a:after {
  content: "";
  width: 7px;
  height: 7px;
  background: #F2F2F2;
  position: absolute;
  border-radius: 10px;
  left: 5px;
  top: 5px;
  box-shadow: inset rgba(10, 78, 134, 0.61) 0px 0px 2px, rgba(255, 255, 255, 1) 1px 1px 2px;
}
/*------------------------------------*/

.header{
    background: #FF5B06;
  border-bottom: 1px solid #DF4C00;
  box-shadow: 1px 0 2px rgba(0,0,0,.5);
  color: #FFF;
  /*display: flex;*/
  justify-content: space-between;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  vertical-laign: middle;
  z-index: 9;
  
  -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
}

.header h1 {
  color: #FFF;
  font-size: 17px;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.header html {
  color: #FFF;
  font-size: 17px;
  padding: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
/*categories in header*/
.categories{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.categories li{
  background: rgba(248, 192, 162, 0.19);
  color: #f2f2f2;
  float: left;
  min-width: 118px;
  text-transform: uppercase;
  text-align: center;
  border-left: 1px solid rgba(238, 218, 207, 0.2);
  border-right: 1px solid rgba(255, 91, 6, 0.96);
}

.categories li:first-child{
  border-left: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.categories li:last-child{
  border-right: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.categories li a{
  color: #fff;
	display: block;
	position: relative;
	text-decoration: none;	
}

.categories ul {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  overflow: hidden;
  min-width: 160px;
  border-radius: none;
}

.categories ul li {
  float: none;
}

.categories li:hover > ul {
  display: block;
  background: #F38630;  
  -webkit-box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.categories li:hover > ul li{
  height: 40px;
  text-align: center;
  border-radius: none;
}

.categories li:hover > ul li a{
  line-height: 40px;
}

.categories li:hover > ul:last-child{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.categories li:hover{
  background: rgba(255, 245, 58, 0.16);
}

.categories li:first-child:hover{
  border-bottom-left-radius: 0;
}

/*sidebar style*/
.sidebar {
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px 15px;
  width: 200px;
  height: auto;
  background-color: white;
  border-top: 10px solid rgb(255, 71, 6);
  border-bottom: 40px solid slategray;
  box-shadow:
     10px 0px 15px -5px rgba(0, 0, 0, 0.15),
    -10px 0px 15px -5px rgba(0, 0, 0, 0.15);
}
.sidebar h2 {
  font: bold 28px/1.2 'Open Sans', sans-serif;
  color: steelblue;
  margin: 0 0 12px;
  padding: 0 0 10px;
  border-bottom: 1px solid #FFC1B5;
}
.sidebar p {
  font: 15px/1.4 'Open Sans', sans-serif;
  color: #555;
  margin: 0 0 10px;
  padding: 0;
}
/*login*/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#logininput input,
select,
textarea {
    max-width: 100%;
}

.like {
    cursor: pointer;
}